<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr/>
<h3>use of enum:</h3>
<h4> {{ EnumEx() }}</h4>
<hr/>
<h3>string concatenation:</h3>
<h4>{{ MyName("HIREN","PANCHAL") }} :THE NAME IS ENOUGH</h4>
<app-fun></app-fun>
<hr/>
<hr/>
<h4>1.Simple Interest of 1000Rs for 1.5 year at the rate of 24% is:{{ SimpleInt(1000,24,1.5) }}Rs</h4>
<hr/>
<h4>2.fibonacci sequence: {{ fibbo(10) }}</h4>
<hr/>
<h4>3.first 10 prime number: {{ prime(10) }}</h4>
<hr/>
<hr/>
<h4>4.Reverse of abcdef is: {{ reverse() }}</h4>
<hr/>
<h4>5.number of vowels and consonent in "Hiren PAnchal"</h4>
<h4>{{ grammer("Hiren PAnchal") }}</h4>
<hr/>
<h4>6.Armstrong number: {{ armstrong(370) }}</h4>
<hr/>
<h4>7.palindrome: {{ palindrome(101) }}</h4>
<hr/>
<h4>8.Odd/Even: {{ OddEven(99)}}</h4>
<hr/>
<h4>9. {{ ArrayOddEven()}}</h4>
<hr/>
<hr/>
<h4>10.Reverse Array: {{ArrayReverse()}}</h4>
<hr/>
<h4>12.Use of Switch-case</h4>
<h4>{{SwitchCase('+')}}</h4>
<hr/>
<h4>14.{{Rect1.area()}}</h4>
<br/>
<hr/>
<h4>15.{{ child1.artist() }}</h4>
<hr/>
<h4>16. {{Child1.Logical()}}</h4>
<hr/>
<h4>17.  1.{{java.skills()}}</h4>
<h4>2.{{php.skills()}}</h4>
<hr/>
<h4>18.Work in Progress</h4>
<hr/>
<hr/>
<h4>19.Work in Progress</h4>
<hr/>
<h4>20.Example of push and pop</h4>
<h4>push:{{Array1.push()}}</h4>
<hr/>
<table border="1">
  <thead>
    <tr>
      <th>Roll No</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{stud1.S_rollno()}}</td>
      <td>{{stud1.S_name()}}</td>
    </tr>
    <tr>
      <td>{{stud2.S_rollno()}}</td>
      <td>{{stud2.S_name()}}x</td>
    </tr>
    <tr>
      <td>{{stud3.S_rollno()}}</td>
      <td>{{stud3.S_name()}}</td>
    </tr>
  </tbody>
</table>
<hr/>

<h4>22. {{ parfectnumber.isParfect() }}</h4>
<hr/>
<h4>23.Done</h4>
<hr/>

<table border="2">
  <thead>
    <tr>
        <th>Engine</th>
        <th>Tyre</th>
        <th>SoundSystem</th>
        <th>color</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{Car.Enginedata()}}</td>
      <td>{{Car.Tyredata()}}</td>
      <td>{{Car.SoundSystemdata()}}</td>
      <td>{{Car.clrdata()}}</td>
    </tr>
  </tbody>
</table>
<hr/>

<table border="2">
  <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Processor</th>
        <th>Ram</th>
        <th>HardDrive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{laptop1.NameD()}}</td>
      <td>{{laptop1.PriceD()}}</td>
      <td>{{laptop1.ProcessorD()}}</td>
      <td>{{laptop1.RamD()}}</td>
      <td>{{laptop1.HardDriveD()}}</td>
    </tr>

    <tr>
      <td>{{laptop2.NameD()}}</td>
      <td>{{laptop2.PriceD()}}</td>
      <td>{{laptop2.ProcessorD()}}</td>
      <td>{{laptop2.RamD()}}</td>
      <td>{{laptop2.HardDriveD()}}</td>
    </tr>
  </tbody>
</table>


